@page
@model MyUniversity.Pages.Instructors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Instructor.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instructor.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instructor.FirstMidName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instructor.FirstMidName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instructor.HireDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instructor.HireDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Instructor.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
