@page
@model MyUniversity.Pages.Admission.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Enrollment.Grade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enrollment.Grade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enrollment.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enrollment.Course.CourseID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enrollment.Student)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enrollment.Student.FirstMidName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Enrollment.EnrollmentID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
