@page
@model MyUniversity.Pages.Admission.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Enrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Enrollment.EnrollmentID" />
            <div class="form-group">
                <label asp-for="Enrollment.CourseID" class="control-label"></label>
                <select asp-for="Enrollment.CourseID" class="form-control" asp-items="ViewBag.CourseID"></select>
                <span asp-validation-for="Enrollment.CourseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrollment.StudentID" class="control-label"></label>
                <select asp-for="Enrollment.StudentID" class="form-control" asp-items="ViewBag.StudentID"></select>
                <span asp-validation-for="Enrollment.StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrollment.Grade" class="control-label"></label>
                <input asp-for="Enrollment.Grade" class="form-control" />
                <span asp-validation-for="Enrollment.Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
