@page "{id:int?}"
@model MyUniversity.Pages.Dept.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentDetails.Departments.Single().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentDetails.Departments.Single().Budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentDetails.Departments.Single().StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentDetails.Departments.Single().Administrator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DepartmentDetails.Departments) {
        <tr>
            <td>
              <a asp-page="./Index" asp-route-id="@item.DepartmentID"> @Html.DisplayFor(modelItem => item.Name)</a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator.FirstMidName)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.DepartmentID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.DepartmentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DepartmentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DepartmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.DepartmentDetails.Courses != null)
{
    <h3>Courses Taught at Selected Department</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Course Title</th>
            <th>Credits</th>           
        </tr>

        @foreach (var item in Model.DepartmentDetails.Courses)
        {
            <tr class="">
                <td>
                    <a asp-page="./Index" asp-route-cid="@item.CourseID">Select</a>
                </td>
                <td>
                   @item.Title
                </td>
                <td>
                    @item.Credits
                </td>               
            </tr>
        }
    </table>
}

@if (Model.DepartmentDetails.Enrollements != null)
{
    <h3>Students enrolled in courses</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Enrollment Id</th>
            <th>Name</th>                     
        </tr>

        @foreach (var item in Model.DepartmentDetails.Enrollements)
        {
            <tr class="">
                <td>
                    
                </td>
                <td>
                    @item.EnrollmentID
                </td>
                <td>
                    @item.Student.FirstMidName
                </td>                        
            </tr>
        }
    </table>
}
